:root {
  --primary-color-dark: #0f0c29;
  --secondary-color-dark: #302b63;
  --tertiary-color-dark: #24243e;
  --primary-color-light: #f0f0f0;
  --secondary-color-light: #d9d9d9;
  --tertiary-color-light: #c4c4c4;
  --star-color-dark: #ffffff;
  --star-color-light: #000000;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  background: linear-gradient(to bottom, var(--primary-color-dark), var(--secondary-color-dark), var(--tertiary-color-dark));
}
.stars[data-theme=dark] {
  background: linear-gradient(to bottom, var(--primary-color-dark), var(--secondary-color-dark), var(--tertiary-color-dark));
}
.stars[data-theme=light] {
  background: linear-gradient(to bottom, var(--primary-color-light), var(--secondary-color-light), var(--tertiary-color-light));
}

.star {
  --star-color: var(--primary-color, var(--star-color-dark));
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: var(--left-offset);
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(0, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
.star:nth-child(1) {
  --star-tail-length: 5.58em;
  --top-offset: 64vh;
  --left-offset: 4vw;
  --fall-duration: 9.818s;
  --fall-delay: 7.933s;
}
.star:nth-child(2) {
  --star-tail-length: 6.84em;
  --top-offset: 8vh;
  --left-offset: 7vw;
  --fall-duration: 10.279s;
  --fall-delay: 3.677s;
}
.star:nth-child(3) {
  --star-tail-length: 7.07em;
  --top-offset: 74vh;
  --left-offset: 8vw;
  --fall-duration: 10.521s;
  --fall-delay: 6.425s;
}
.star:nth-child(4) {
  --star-tail-length: 6.79em;
  --top-offset: 24vh;
  --left-offset: 32vw;
  --fall-duration: 7.118s;
  --fall-delay: 6.148s;
}
.star:nth-child(5) {
  --star-tail-length: 7.12em;
  --top-offset: 51vh;
  --left-offset: 8vw;
  --fall-duration: 6.553s;
  --fall-delay: 9.176s;
}
.star:nth-child(6) {
  --star-tail-length: 5.27em;
  --top-offset: 1vh;
  --left-offset: 81vw;
  --fall-duration: 9.991s;
  --fall-delay: 5.713s;
}
.star:nth-child(7) {
  --star-tail-length: 5.61em;
  --top-offset: 100vh;
  --left-offset: 45vw;
  --fall-duration: 6.879s;
  --fall-delay: 8.293s;
}
.star:nth-child(8) {
  --star-tail-length: 5.87em;
  --top-offset: 85vh;
  --left-offset: 80vw;
  --fall-duration: 8.413s;
  --fall-delay: 6.278s;
}
.star:nth-child(9) {
  --star-tail-length: 5.84em;
  --top-offset: 58vh;
  --left-offset: 6vw;
  --fall-duration: 9.362s;
  --fall-delay: 2.783s;
}
.star:nth-child(10) {
  --star-tail-length: 5.26em;
  --top-offset: 76vh;
  --left-offset: 49vw;
  --fall-duration: 10.288s;
  --fall-delay: 8s;
}
.star:nth-child(11) {
  --star-tail-length: 5.17em;
  --top-offset: 24vh;
  --left-offset: 58vw;
  --fall-duration: 9.238s;
  --fall-delay: 7.658s;
}
.star:nth-child(12) {
  --star-tail-length: 5.88em;
  --top-offset: 92vh;
  --left-offset: 39vw;
  --fall-duration: 9.805s;
  --fall-delay: 5.68s;
}
.star:nth-child(13) {
  --star-tail-length: 6.67em;
  --top-offset: 96vh;
  --left-offset: 94vw;
  --fall-duration: 7.808s;
  --fall-delay: 8.206s;
}
.star:nth-child(14) {
  --star-tail-length: 6.78em;
  --top-offset: 22vh;
  --left-offset: 40vw;
  --fall-duration: 9.61s;
  --fall-delay: 3.23s;
}
.star:nth-child(15) {
  --star-tail-length: 6.14em;
  --top-offset: 52vh;
  --left-offset: 98vw;
  --fall-duration: 11.475s;
  --fall-delay: 2.107s;
}
.star:nth-child(16) {
  --star-tail-length: 5.77em;
  --top-offset: 50vh;
  --left-offset: 38vw;
  --fall-duration: 7.089s;
  --fall-delay: 2.864s;
}
.star:nth-child(17) {
  --star-tail-length: 5.9em;
  --top-offset: 73vh;
  --left-offset: 75vw;
  --fall-duration: 10.857s;
  --fall-delay: 8.807s;
}
.star:nth-child(18) {
  --star-tail-length: 6.24em;
  --top-offset: 62vh;
  --left-offset: 28vw;
  --fall-duration: 8.473s;
  --fall-delay: 5.419s;
}
.star:nth-child(19) {
  --star-tail-length: 7.5em;
  --top-offset: 40vh;
  --left-offset: 28vw;
  --fall-duration: 11.738s;
  --fall-delay: 8.853s;
}
.star:nth-child(20) {
  --star-tail-length: 6.66em;
  --top-offset: 55vh;
  --left-offset: 75vw;
  --fall-duration: 11.391s;
  --fall-delay: 5.517s;
}
.star:nth-child(21) {
  --star-tail-length: 6.76em;
  --top-offset: 62vh;
  --left-offset: 37vw;
  --fall-duration: 7.476s;
  --fall-delay: 6.768s;
}
.star:nth-child(22) {
  --star-tail-length: 5.67em;
  --top-offset: 33vh;
  --left-offset: 16vw;
  --fall-duration: 6.568s;
  --fall-delay: 2.668s;
}
.star:nth-child(23) {
  --star-tail-length: 6.54em;
  --top-offset: 95vh;
  --left-offset: 44vw;
  --fall-duration: 11.077s;
  --fall-delay: 5.296s;
}
.star:nth-child(24) {
  --star-tail-length: 5.72em;
  --top-offset: 77vh;
  --left-offset: 20vw;
  --fall-duration: 9.692s;
  --fall-delay: 2.97s;
}
.star:nth-child(25) {
  --star-tail-length: 6.29em;
  --top-offset: 42vh;
  --left-offset: 87vw;
  --fall-duration: 11.142s;
  --fall-delay: 5.437s;
}
.star:nth-child(26) {
  --star-tail-length: 7.13em;
  --top-offset: 21vh;
  --left-offset: 75vw;
  --fall-duration: 6.289s;
  --fall-delay: 0.074s;
}
.star:nth-child(27) {
  --star-tail-length: 5.42em;
  --top-offset: 38vh;
  --left-offset: 86vw;
  --fall-duration: 7.251s;
  --fall-delay: 5.373s;
}
.star:nth-child(28) {
  --star-tail-length: 6.42em;
  --top-offset: 27vh;
  --left-offset: 85vw;
  --fall-duration: 8.21s;
  --fall-delay: 7.75s;
}
.star:nth-child(29) {
  --star-tail-length: 5.79em;
  --top-offset: 9vh;
  --left-offset: 66vw;
  --fall-duration: 6.731s;
  --fall-delay: 6.96s;
}
.star:nth-child(30) {
  --star-tail-length: 7.01em;
  --top-offset: 71vh;
  --left-offset: 4vw;
  --fall-duration: 10.122s;
  --fall-delay: 2.944s;
}
.star:nth-child(31) {
  --star-tail-length: 5.17em;
  --top-offset: 3vh;
  --left-offset: 36vw;
  --fall-duration: 11.659s;
  --fall-delay: 7.476s;
}
.star:nth-child(32) {
  --star-tail-length: 6.82em;
  --top-offset: 53vh;
  --left-offset: 69vw;
  --fall-duration: 8.013s;
  --fall-delay: 0.922s;
}
.star:nth-child(33) {
  --star-tail-length: 7.02em;
  --top-offset: 62vh;
  --left-offset: 91vw;
  --fall-duration: 9.431s;
  --fall-delay: 4.892s;
}
.star:nth-child(34) {
  --star-tail-length: 5.21em;
  --top-offset: 43vh;
  --left-offset: 12vw;
  --fall-duration: 11.608s;
  --fall-delay: 3.199s;
}
.star:nth-child(35) {
  --star-tail-length: 5.45em;
  --top-offset: 61vh;
  --left-offset: 25vw;
  --fall-duration: 8.098s;
  --fall-delay: 2.979s;
}
.star:nth-child(36) {
  --star-tail-length: 5.93em;
  --top-offset: 74vh;
  --left-offset: 75vw;
  --fall-duration: 11.471s;
  --fall-delay: 5.973s;
}
.star:nth-child(37) {
  --star-tail-length: 5.89em;
  --top-offset: 57vh;
  --left-offset: 1vw;
  --fall-duration: 6.82s;
  --fall-delay: 3.306s;
}
.star:nth-child(38) {
  --star-tail-length: 5.14em;
  --top-offset: 77vh;
  --left-offset: 24vw;
  --fall-duration: 9.159s;
  --fall-delay: 6.654s;
}
.star:nth-child(39) {
  --star-tail-length: 7.37em;
  --top-offset: 59vh;
  --left-offset: 15vw;
  --fall-duration: 9.053s;
  --fall-delay: 4.425s;
}
.star:nth-child(40) {
  --star-tail-length: 6.41em;
  --top-offset: 76vh;
  --left-offset: 72vw;
  --fall-duration: 7.166s;
  --fall-delay: 6.979s;
}
.star:nth-child(41) {
  --star-tail-length: 6.02em;
  --top-offset: 97vh;
  --left-offset: 73vw;
  --fall-duration: 7.415s;
  --fall-delay: 8.302s;
}
.star:nth-child(42) {
  --star-tail-length: 5.51em;
  --top-offset: 59vh;
  --left-offset: 28vw;
  --fall-duration: 7.991s;
  --fall-delay: 1.77s;
}
.star:nth-child(43) {
  --star-tail-length: 7.16em;
  --top-offset: 54vh;
  --left-offset: 0vw;
  --fall-duration: 11.507s;
  --fall-delay: 7.994s;
}
.star:nth-child(44) {
  --star-tail-length: 5.07em;
  --top-offset: 90vh;
  --left-offset: 58vw;
  --fall-duration: 11.21s;
  --fall-delay: 4.661s;
}
.star:nth-child(45) {
  --star-tail-length: 6.93em;
  --top-offset: 38vh;
  --left-offset: 77vw;
  --fall-duration: 9.518s;
  --fall-delay: 0.305s;
}
.star:nth-child(46) {
  --star-tail-length: 7.24em;
  --top-offset: 58vh;
  --left-offset: 69vw;
  --fall-duration: 8.084s;
  --fall-delay: 6.786s;
}
.star:nth-child(47) {
  --star-tail-length: 5.84em;
  --top-offset: 77vh;
  --left-offset: 18vw;
  --fall-duration: 11.781s;
  --fall-delay: 5.652s;
}
.star:nth-child(48) {
  --star-tail-length: 5.03em;
  --top-offset: 70vh;
  --left-offset: 17vw;
  --fall-duration: 10.256s;
  --fall-delay: 1.359s;
}
.star:nth-child(49) {
  --star-tail-length: 6.73em;
  --top-offset: 3vh;
  --left-offset: 14vw;
  --fall-duration: 8.081s;
  --fall-delay: 4.966s;
}
.star:nth-child(50) {
  --star-tail-length: 5.79em;
  --top-offset: 77vh;
  --left-offset: 80vw;
  --fall-duration: 9.645s;
  --fall-delay: 0.422s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(100vw, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}/*# sourceMappingURL=StarBackground.css.map */